/* 
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;500;700&family=Poppins:wght@300;500;700;900&display=swap');

:root {
    --black: #020D0D;
    --white: #FFF8FD;
    --soft-pink: #DB00A4;
    --dark-pink: #82256A;
    --soft-blie: #14E6EB;
    --dark-blue: #0C9A9D;
    --background-dark: #262C32;
    --background-light: #f9ffff;
    --growth: #7EFF69;
    --startups: #69FFF6;
    --users: #FF6969;
    --soft-skills: #FF69F0;
    --books: #9969FF;
    --thoughts: #FFF969;
    --others: #FFB169;

}
body {
    font-family: 'Alegreya Sans', sans-serif;
    margin: 0;
    background-image: linear-gradient(to right top, #82256a, #715daf, #2d90de, #00bdf0, #14e6eb);    
    height: 100vh;
    width: 100%;
}
.container {
    display: grid;
    grid-template: repeat(20, 1fr) / repeat(20, 1fr);
    height: 100%;
}
.item1 {
    background: var(--books);
    grid-column: 1 / 8;
    grid-row: 1 / 4;
    border-radius: 0px 0px 20px 0px;
    text-align: center;
    padding: 25px;
    font-size: 60px;
    color: var(--white);
    letter-spacing: 13px;
    display: grid;
    align-items: center;
}
.item2 {
    background: transparent;
    grid-column: 1 / 4;
    grid-row: 21 / 14;
    border-radius: 0px 20px 0px 0px;
    border: 10px solid var(--users);
    text-align: center;
    /* padding: 30px; */
    font-size: 60px;
    color: var(--white);
    letter-spacing: 13px;
    writing-mode: vertical-rl;
    display: grid;
    align-items: center;
}
.item3 {
    background: transparent;
    grid-column: 9 / 15;
    grid-row: 3 / 6;
    border-radius: 20px;
    border: 10px solid var(--startups);
    text-align: center;
    padding: 20px;
    font-size: 60px;
    color: var(--white);
    display: grid;
    align-items: center;
}
.item4 {
    background: transparent;
    grid-column: 16 / 21;
    grid-row: 3 / 8;
    border-radius: 100%;
    border: 10px solid var(--growth);
    text-align: center;
    /* padding: 40px; */
    font-size: 60px;
    color: var(--white);
    display: grid;
    align-items: center;
}
.item5 {
    background: transparent;
    grid-column: 4 / 10;
    grid-row: 11 / 14;
    border-radius: 20px;
    border: 10px solid var(--soft-skills);
    text-align: center;
    padding: 20px;
    font-size: 60px;
    color: var(--white);
    display: grid;
    align-items: center;
}
.item6 {
    background: transparent;
    grid-column: 8 / 14;
    grid-row: 17 / 19;
    border-radius: 20px;
    border: 10px solid var(--others);
    text-align: center;
    padding: 0px;
    font-size: 60px;
    color: var(--white);
    display: grid;
    align-items: center;
}
.item7 {
    background: transparent;
    grid-column: 13 / 19;
    grid-row: 15 / 18;
    border-radius: 20px;
    border: 10px solid var(--thoughts);
    text-align: center;
    padding: 20px;
    font-size: 60px;
    color: var(--white);
    display: grid;
    align-items: center;
}
.item8 {
    color: var(--black);
    font-size: 80px;
    font-family: 'Poppins';
    text-align: center;
    letter-spacing: 14px;
    grid-column: 7 / 15;
    grid-row: 7 / 10;
    border-top: 20px solid var(--black);
    border-bottom: 20px solid var(--black);
    display: grid;
    justify-content: center;
    align-items: center;
}
.item9 {
    color: var(--black);
    font-size: 50px;
    grid-column: 15 / 17;
    grid-row: 9 / 10;
    padding-bottom: 12px;
}